Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the requested file exists, serve it as-is
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Otherwise route to index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
