<turbo-frame id="imdb-id">
    {% if rating.rating is not null %}
        <turbo-stream action="replace" target="imdb-rating-mobile">
            <template>
                <div id="imdb-rating-mobile">
                    {{ rating.rating }}
                </div>
            </template>
        </turbo-stream>

        <turbo-stream action="replace" target="imdb-votes-mobile">
            <template>
                <span id="imdb-votes-mobile">
                    {{ rating.ratingCount }}
                </span>
            </template>
        </turbo-stream>

        <turbo-stream action="replace" target="imdb-rating-sm">
            <template>
                <div id="imdb-rating-sm">
                    {{ rating.rating }}
                </div>
            </template>
        </turbo-stream>

        <turbo-stream action="replace" target="imdb-votes-sm">
            <template>
                <span id="imdb-votes-sm">
                    {{ rating.ratingCount }}
                </span>
            </template>
        </turbo-stream>
    {% endif %}
</turbo-frame>
